<html>
    <head>
        <title>
            Dashboard
        </title>
        <link rel="stylesheet" type="text/css" href="/public/css/DashStyles.css">
    </head>

    <body>
        <div class="lefttab">
            <!-- NAVBAR -->
            <div class="lttitle">RETAIL KITA</div>
            <div class="ltsubtitle">ADMIN LAYOUT PAGES
                <ul>
                    <li><img src="/public/images/dashboard.png" alt="Dashboard"></li>
                    <li><img src="/public/images/symbol.png" alt="Symbol"> <a>UPLOAD DATA</a></li>
                    <li><img src="/public/images/grafik.png" alt="Grafik"> <a>GRAFIK</a></li>
                    <li><img src="/public/images/demos.creative-tim.com by html.to.design ❤️ FREE version - 05/maps/Symbol.png" alt="Maps"><a>MAPS</a></li>
                </ul>                
            </div>
            <div class="ltsubtitle">
                <ul>
                    <li><img src="/public/images/Logout.png" alt="Logout>"> <a>Logout</a></li>
                </ul>
            </div>
            <!-- END OF NAVBAR -->
        </div>
        <div class="righttab">
            <div class="topbar">
                <div class="titlerighttop">
                    Dashboard
                </div>
                <div class="iconrighttop">
                    <div class="topbarsqr">
                        <div class="titletbs">CUSTOMERS 
                            <!-- <img src="/public/images/CUSTOMERS.png" alt="CUSTOMERS"> -->
                            <p>3560,897</p>
                        </div>
                    </div>
                    <div class="topbarsqr">
                        <div class="titletbs">COMPLAINTS 
                            <!-- <img src="/public/images/COMPLAINTS.png" alt="COMPLAINTS"> -->
                            <p>2,356</p>
                        </div>
                    </div>
                    <div class="topbarsqr">
                        <div class="titletbs">PURCHASES
                            <!-- <img src="/public/images/PURCHASE.png" alt="PURCHASE"> -->
                            <p>924</p>
                        </div>
                        <div></div></div>
                    <div class="topbarsqr">
                        <div class="titletbs">WEB VISIT PER MONTH
                            <!-- <img src="/public/images/WVPM.png" alt="WVPM"> -->
                            <p>39,28</p>
                        </div>
                        <div></div></div>
                </div>
                
            </div>
            <div class="graphbar">
                <div class="graph"></div>
                <div class="graphdata">
                    <div class="store"></div>
                    <div class="promo"></div>
                </div>
            </div>            
        </div>
    </body>
</html>