<html>
    <head>
        <title>
            Grafik
        </title>
        <link rel="stylesheet" type="text/css" href="/public/css/Grafik.css">
    </head>

    <body>
        <div class="lefttab">
            <!-- NAVBAR -->
            <div class="lttitle">RETAIL KITA</div>
            <div class="ltsubtitle">ADMIN LAYOUT PAGES
                <ul>
                    <li><img src="/public/images/dashboard.png" alt="Dashboard"></li>
                    <li><img src="/public/images/symbol.png" alt="Symbol"> <a>UPLOAD DATA</a></li>
                    <li><img src="/public/images/grafik.png" alt="Grafik"> <a>GRAFIK</a></li>
                    <li><img src="/public/images/demos.creative-tim.com by html.to.design ❤️ FREE version - 05/maps/Symbol.png" alt="Maps"><a>MAPS</a></li>
                </ul>                
            </div>
            <div class="ltsubtitle">
                <ul>
                    <li><img src="/public/images/Logout.png" alt="Logout>"> <a>Logout</a></li>
                </ul>
            </div>
            <!-- END OF NAVBAR -->
        </div>
        <div class="righttab">
            <div class="topbar">
                <div class="titlerighttop">
                    Grafik
                </div>
            </div>
            <div class="MasterGraph">
                <div class="dropdowncat">
                    <div class="dropdowntableft">
                    <p>Ringkasan Berdasarkan :</p>
                    <select name="RingkasBerdasarkan" id="LeftChart">
                        <option value="">Jumlah Produk Ikan</option>
                    </select>
                    </div>

                    <div class="dropdowntab">
                    <p>Ringkasan Berdasarkan :</p>
                    <select name="RingkasBerdasarkan" id="RightChart">
                        <option value="">Attribut 1</option>
                    </select>
                    </div>

                    <div class="dropdowntab">
                    <p>Ringkasan Berdasarkan :</p>
                    <select name="RingkasBerdasarkan" id="RightChart">
                        <option value="">Attribut 2</option>
                    </select>
                    </div>
                </div>
                <div class="graphimg">
                    <div class="leftgraphimg">
                        <img src="/public/images/div.relative.png" alt="">
                    </div>
                    <div class="rightgraph">
                        <img src="/public/images/messageImage_1702218825841.jpg" alt="">
                    </div>
                </div>
            </div>            
        </div>
    </body>
</html>