<html>
    <head>
        <title>
            Dashboard
        </title>
        <link rel="stylesheet" type="text/css" href="/public/css/DashStyles.css">
    </head>

    <body>
        <div class="lefttab">
            <!-- NAVBAR -->
            <div class="lttitle">RETAIL KITA</div>
            <div class="ltsubtitle">ADMIN LAYOUT PAGES
                <ul>
                    <li><img src="/public/images/dashboard.png" alt="Dashboard"></li>
                    <li><img src="/public/images/symbol.png" alt="Symbol"> <a>UPLOAD DATA</a></li>
                    <li><img src="/public/images/grafik.png" alt="Grafik"> <a>GRAFIK</a></li>
                    <li><img src="/public/images/demos.creative-tim.com by html.to.design ❤️ FREE version - 05/maps/Symbol.png" alt="Maps"><a>MAPS</a></li>
                </ul>                
            </div>
            <div class="ltsubtitle">
                <ul>
                    <li><img src="/public/images/Logout.png" alt="Logout>"> <a>Logout</a></li>
                </ul>
            </div>
            <!-- END OF NAVBAR -->
        </div>
        <div class="righttab">
            <div class="topbar"></div>
            <div class="upload-section">
                <h2>Upload CSV</h2>
                <div class="dropfile-area">
                    <input type="file" id="fileInput" />
                    <label for="fileInput">Drag and drop your CSV file or click here to browse.</label>
                </div>
                <button type="submit">Submit</button></div>
            </div>            
        </div>
    </body>
</html>